/*Common part*/

body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/*Common part end*/

.container{
    margin: 0 auto;
    width: 90%;
    

}
.row{
    /* border: 1px solid; */
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
}
.title{
    padding: 10px 0;
    text-align: center;

}
.title_h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
}
.title_h2{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 32px;
}

.title_h3{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
}

.image{
    text-align: center;

}
.img{
    border-radius: 100px;
    width: 200px;
    border: 1px solid black;
}
p{
    padding: 15px 400px;
    text-align: justify;
}

.footer{
    width:100%;
    float:left;
    padding: 30px 0px;

}
.footer p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-align: center;
}
.footer a{
    
    font-weight:bolder;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 3px;
    
    
}
